* {
    background-color: #111;
    font-style:oblique;
    color: #a1a1a1;
}

.nav-item {
    text-align: center;
}

h1 {
padding: 4%;
text-align: center;
}

.contact {
    text-align: center;
}

img {
    border-radius: 30%;
    padding: 5%;
}



div {
    flex: auto;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.gallery {
    text-align: center;
}

.aboutMe {
    display: flex;
    justify-content: center;
}
